<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>SENTICHECK</title>
    </head>

    <body>

        <div class="container">    
            <header class="header">
                <div class="site-name">SENTICHECK</div>
            </header>

            <section class="submit-text">
                <form class="text-form" onsubmit="return Client.handleSubmit(event)">
                    <textarea id="text" type="text" name="input" rows="15" required placeholder="Insert text to be checked"></textarea>
                    <input class="button" type="submit" name="" value="Get sentiment" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="display-results">
                <table class="results-table">
                    <th class="table-header" colspan="2">Sentiment results</th>
                    <tr>
                        <th>Sentiment</th>
                        <td id="sentiment-score"></td>
                    </tr>
                    <tr>
                        <th>Consistency of sentiment in text</th>
                        <td id="consistency"></td>
                    </tr>
                    <tr>
                        <th>Subjectivity</th>
                        <td id="subjectivity"></td>
                    </tr>
                    <tr>
                        <th>Irony</th>
                        <td id="irony"></td>
                    </tr>
                    <tr>
                        <th>Confidence</th>
                        <td id="confidence"></td>
                    </tr>
                </table>
            </section>

            <footer class="footer">
                <a href="https://www.meaningcloud.com" class="footer-text">Powered by Meaningcloud</a>
            </footer>
        </div>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
