<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>SentiCheck</title>
    </head>

    <body>

        <div class="container">    
            <header class="header">
                <img class="logo" src={logo}>
                <div class="">
                    navigation
                </div>
            </header>

            <section class="submit-text">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="text" type="text" name="input" value="" placeholder="Insert text to be checked">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="display-results">
                <strong>Form Results:</strong>
                <table class="results-table">
                    <tr>
                        <th>Polarity</th>
                        <td id="polarity-score"></td>
                    </tr>
                    <tr>
                        <th>Consistency of polarity</th>
                        <td id="consistency"></td>
                    </tr>
                    <tr>
                        <th>Subjectivity</th>
                        <td id="subjectivity"></td>
                    </tr>
                    <tr>
                        <th>Irony</th>
                        <td id="irony"></td>
                    </tr>
                    <tr>
                        <th>Confidency</th>
                        <td id="confidence"></td>
                    </tr>
                </table>
            </section>

            <footer class="footer">
                <p>This is a great footer</p>
            </footer>
        </div>
    </body>
</html>
