html,body{
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 2.5% 1fr 2.5%;
    grid-template-rows: 70px 1fr 1fr 100px;
    grid-template-areas:
      "header header header"
      ". submit-text ."
      ". display-results ."
      "footer footer footer";
    height: 100%;
  }

